.bottom-panel {
  margin-top: 10px;
}

.bottom-panel .new-todo-label {
  width: auto;
  flex-grow: 1;
  margin-right: 10px;
}


.submit-btn {
  color:coral;
  border: 2px solid coral;
}

.task-input {
  border: 2px solid coral;
}
